#env
#python==3.10.16
setuptools==81.0.0
ipywidgets
# Data & EDA
pandas
ydata-profiling
kaggle

# Modeling
scikit-learn
lightgbm
xgboost
catboost
imbalanced-learn

# Hyperparameter Optimization
optuna
optuna-dashboard

# Experiment Tracking
mlflow

# Data versioning
dvc

# Interpretability
shap
lime
dtreeviz
interpret

# Visualization
matplotlib
seaborn
plotly

# Notebooks & Reporting
jupyterlab
nbconvert
quarto

structlog
